##Is the fruit an orange?
Based on the diameter and weight of the fruit, the program has to check whether the fruit is orange or not

#Data retrieval
Code below to retrieve data from the website KAGGLE

In [ ]:
import os
os.environ['KAGGLE_USERNAME'] = 'sdominika' #logowanie
os.environ['KAGGLE_KEY'] = '4e44c4db789d52f06ff8267499c19a92'
import kaggle

In [ ]:
kaggle.api.authenticate()
kaggle.api.dataset_download_files('joshmcadams/oranges-vs-grapefruit', unzip=True)

This is our data

In [ ]:
import pandas
data=pandas.read_csv('citrus.csv')
data

            name  diameter  weight  red  green  blue
0         orange      2.96   86.76  172     85     2
1         orange      3.91   88.05  166     78     3
2         orange      4.42   95.17  156     81     2
3         orange      4.47   95.60  163     81     4
4         orange      4.48   95.76  161     72     9
...          ...       ...     ...  ...    ...   ...
9995  grapefruit     15.35  253.89  149     77    20
9996  grapefruit     15.41  254.67  148     68     7
9997  grapefruit     15.59  256.50  168     82    20
9998  grapefruit     15.92  260.14  142     72    11
9999  grapefruit     16.45  261.51  152     74     2

[10000 rows x 6 columns]

The code below divides the tables or matrices into random trains and test subsets.

It is a quick utility that includes input validation, and application to input data into a single call for splitting (and optionally subsampling) data into a one-liner.

In [ ]:
import sklearn.model_selection
train_dataset, test_dataset = sklearn.model_selection.train_test_split(data, test_size=0.2)

In [ ]:
train_dataset[['red','name']]

      red        name
8646  149  grapefruit
1516  150      orange
5582  152  grapefruit
516   158      orange
5363  164  grapefruit
...   ...         ...
4600  161      orange
5438  149  grapefruit
6313  154  grapefruit
9949  137  grapefruit
2376  146      orange

[8000 rows x 2 columns]

In [ ]:
test_dataset

            name  diameter  weight  red  green  blue
2437      orange      8.43  152.08  156     89     4
8035  grapefruit     11.80  202.88  153     83    20
7831  grapefruit     11.67  200.63  155     58    25
9296  grapefruit     12.81  218.00  161     76     9
2122      orange      8.24  149.18  171     75    18
...          ...       ...     ...  ...    ...   ...
7605  grapefruit     11.51  198.43  144     75    27
8633  grapefruit     12.22  208.85  142     68    15
6790  grapefruit     11.01  190.33  151     75    31
2585      orange      8.54  153.36  156     69     2
7706  grapefruit     11.59  199.45  157     90    15

[2000 rows x 6 columns]

We train the program on diameter and weight data

In [ ]:
x_train=train_dataset[['weight','diameter']]
x_train

      weight  diameter
8646  208.98     12.23
1516  143.08      7.84
5582  174.34      9.99
516   129.73      6.90
5363  169.31      9.67
...      ...       ...
4600  179.06     10.25
5438  171.52      9.81
6313  185.05     10.71
9949  241.55     14.32
2376  151.59      8.41

[8000 rows x 2 columns]

In [ ]:
y_train=train_dataset['name']
y_train

8646    grapefruit
1516        orange
5582    grapefruit
516         orange
5363    grapefruit
           ...
4600        orange
5438    grapefruit
6313    grapefruit
9949    grapefruit
2376        orange
Name: name, Length: 8000, dtype: object

we test the program

In [ ]:
x_test=test_dataset[['weight','diameter']]
x_test

      weight  diameter
2437  152.08      8.43
8035  202.88     11.80
7831  200.63     11.67
9296  218.00     12.81
2122  149.18      8.24
...      ...       ...
7605  198.43     11.51
8633  208.85     12.22
6790  190.33     11.01
2585  153.36      8.54
7706  199.45     11.59

[2000 rows x 2 columns]

In [ ]:
y_test=test_dataset['name']
y_test

2437        orange
8035    grapefruit
7831    grapefruit
9296    grapefruit
2122        orange
           ...
7605    grapefruit
8633    grapefruit
6790    grapefruit
2585        orange
7706    grapefruit
Name: name, Length: 2000, dtype: object

#svc

In [ ]:
import sklearn.svm

In [ ]:
classifier1=sklearn.svm.SVC(kernel='linear') #stworzny robot(klasyfikator)
classifier1.fit(x_train,y_train) #uczy sie

SVC(kernel='linear')

In [ ]:
prediction1=classifier1.predict(x_test)
prediction1

array(['orange', 'grapefruit', 'grapefruit', ..., 'grapefruit', 'orange',
       'grapefruit'], dtype=object)

We check the relevance of the program response

In [ ]:
accuracy = sklearn.metrics.accuracy_score(y_true=y_test, y_pred=prediction1)
accuracy

0.963

In [ ]:
balance_accuracy=sklearn.metrics.balanced_accuracy_score(y_true=y_test, y_pred=prediction1)
balance_accuracy

0.962888665997994

In [ ]:
f1=sklearn.metrics.f1_score(y_true=y_test, y_pred=prediction1,pos_label='orange')
f1

0.9614583333333333

#knn

In [ ]:
import sklearn.neighbors

In [ ]:
classifier2=sklearn.neighbors.KNeighborsClassifier()
classifier2.fit(x_train,y_train)

KNeighborsClassifier()

In [ ]:
prediction2=classifier2.predict(x_test)
prediction2

array(['orange', 'grapefruit', 'grapefruit', ..., 'grapefruit', 'orange',
       'grapefruit'], dtype=object)

In [ ]:
accuracy2 = sklearn.metrics.accuracy_score(y_true=y_test, y_pred=prediction2)
accuracy2

0.967

In [ ]:
balance_accuracy2=sklearn.metrics.balanced_accuracy_score(y_true=y_test, y_pred=prediction2)
balance_accuracy2

0.9669427024843223

In [ ]:
f1_2=sklearn.metrics.f1_score(y_true=y_test, y_pred=prediction2,pos_label='orange')
f1_2

0.9662576687116563

#Random Forest

In [ ]:
import sklearn.ensemble

In [ ]:
classifier3=sklearn.ensemble.RandomForestClassifier()
classifier3.fit(x_train,y_train)

RandomForestClassifier()

In [ ]:
prediction3=classifier3.predict(x_test)
prediction3

array(['orange', 'grapefruit', 'grapefruit', ..., 'grapefruit', 'orange',
       'grapefruit'], dtype=object)

In [ ]:
accuracy3 = sklearn.metrics.accuracy_score(y_true=y_test, y_pred=prediction3)
accuracy3

0.9955

In [ ]:
balance_accuracy3=sklearn.metrics.balanced_accuracy_score(y_true=y_test, y_pred=prediction3)
balance_accuracy3

0.9954864593781344

In [ ]:
f1_3=sklearn.metrics.f1_score(y_true=y_test, y_pred=prediction3, pos_label='orange')
f1_3

0.9954659949622167

#Decision Tree

In [ ]:
import sklearn.tree

In [ ]:
classifier4=sklearn.tree.DecisionTreeClassifier()
classifier4.fit(x_train,y_train)

DecisionTreeClassifier()

In [ ]:
prediction4=classifier4.predict(x_test)
prediction4

array(['orange', 'grapefruit', 'grapefruit', ..., 'grapefruit', 'orange',
       'grapefruit'], dtype=object)

In [ ]:
accuracy4 = sklearn.metrics.accuracy_score(y_true=y_test, y_pred=prediction4)
accuracy4

0.99

In [ ]:
balance_accuracy4=sklearn.metrics.balanced_accuracy_score(y_true=y_test, y_pred=prediction4)
balance_accuracy4

0.9899849098641889

In [ ]:
f1_4=sklearn.metrics.f1_score(y_true=y_test, y_pred=prediction4, pos_label='orange')
f1_4

0.9899193548387096

#XGBoost -> eXtreme Gradient Boosting

In [ ]:
import sklearn.ensemble

In [ ]:
classifier5=sklearn.ensemble.GradientBoostingClassifier()
classifier5.fit(x_train,y_train)

GradientBoostingClassifier()

In [ ]:
prediction5=classifier5.predict(x_test)
prediction5

array(['orange', 'grapefruit', 'grapefruit', ..., 'grapefruit', 'orange',
       'grapefruit'], dtype=object)

In [ ]:
accuracy5 = sklearn.metrics.accuracy_score(y_true=y_test, y_pred=prediction5)
accuracy5

0.9655

In [ ]:
balance_accuracy5=sklearn.metrics.balanced_accuracy_score(y_true=y_test, y_pred=prediction5)
balance_accuracy5

0.9654411889707007

In [ ]:
f1_5=sklearn.metrics.f1_score(y_true=y_test, y_pred=prediction5, pos_label='orange')
f1_5

0.9647058823529412

#neural_network

In [ ]:
import sklearn.neural_network

In [ ]:
classifier6=sklearn.neural_network.MLPClassifier()
classifier6.fit(x_train,y_train)

MLPClassifier()

In [ ]:
prediction6=classifier6.predict(x_test)
prediction6

array(['orange', 'grapefruit', 'grapefruit', ..., 'grapefruit', 'orange',
       'grapefruit'], dtype='<U10')

In [ ]:
accuracy6 = sklearn.metrics.accuracy_score(y_true=y_test, y_pred=prediction6)
accuracy6

0.892

In [ ]:
balance_accuracy6=sklearn.metrics.balanced_accuracy_score(y_true=y_test, y_pred=prediction6)
balance_accuracy6

0.8921220290982619

In [ ]:
f1_6=sklearn.metrics.f1_score(y_true=y_test, y_pred=prediction6, pos_label='orange')
f1_6

0.8959537572254335

#Ensamble

In [ ]:
import sklearn.ensemble

In [ ]:
from sklearn.ensemble import VotingClassifier

In [ ]:
clf1=sklearn.svm.SVC(kernel='linear')
clf2=sklearn.neighbors.KNeighborsClassifier()
clf3=sklearn.ensemble.RandomForestClassifier()
clf4=sklearn.tree.DecisionTreeClassifier()
clf5=sklearn.ensemble.GradientBoostingClassifier()
clf6=sklearn.neural_network.MLPClassifier()

In [ ]:
eclf = VotingClassifier(
     estimators=[('svc', clf1),('knn',clf2),('RandomForest',clf3),('DecisionTree',clf4),('GradientBoosting',clf5),('neutral_network',clf6)] )

In [ ]:
eclf = eclf.fit(x_train,y_train)
prediction7=eclf.predict(x_test)
prediction7

array(['orange', 'grapefruit', 'grapefruit', ..., 'grapefruit', 'orange',
       'grapefruit'], dtype=object)

In [ ]:
accuracy7 = sklearn.metrics.accuracy_score(y_true=y_test, y_pred=prediction7)
accuracy7

0.9675

In [ ]:
balance_accuracy7=sklearn.metrics.balanced_accuracy_score(y_true=y_test, y_pred=prediction7)
balance_accuracy7

0.9674082066738601

In [ ]:
f1_7=sklearn.metrics.f1_score(y_true=y_test, y_pred=prediction7, pos_label='orange')
f1_7

0.966373512674599